
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*menu de navegacion a los extremos*/
.menu{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 15%;
    background: none;
    }
    .menu .menu_box {
        background: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        }
          .box_menu-legth img {
            background: none;
            display: inline-block;
            width: 45px;
            margin: 20%;
            }

          .menu_box .box_menu-right{
            position: absolute;
            top: 15px;
            right: 0;
                /*    background: yellow;*/
            width: 40%;
            }
                  .box_menu-right .boxing_menu-right{
                    display: inline-block;
                        /*    background-color:pink;*/
                    list-style: none;
                    margin: 3.5%;;
                    font-size: 20px;
                    }

                        .boxing_menu-right a{
                          text-decoration: none;
                        }
                            .btn{
                              background: none;
                              border-radius: 5px;
                              font-family: inherit;
                              padding: 10px;
                            }

.section_1{
  width: 100%;
  background: none;
  }

  .back_secc1 img{
    position:absolute; width: 100%; height:80%; z-index: -1;
    top: -50px;

  }

    .box-right_secc1{
        width: 45%;
        height: 30%;
        padding: 20px;
        background: white;
        float: right;
        margin-top: 150px;;
        }
        .boxing-right_secc1{
            padding: 5%;
            background:white;
          }

          .boxing-right_secc1 form{
            width:70%;
            background:white;
          }
          .parr{
            margin: 5px;
          }

.section_2{
    margin-top: 300px;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(#691b84, #2B1E66);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 155px;

        }

          .box-left_secc2{
            width: 40%;
            padding : 50px;
            justify-content: center;
            color: white;

            margin: 40px;
          }

          .box-right_secc2{

            margin-top: 100px;
          }

          .box-right_secc2 img{

            width: 400px;
          }

          .title_2{
            font-family: 'Montserrat';
            font-size: 30px;
          }
          .l{
            font-family: 'Montserrat';
            font-size: 20px;
          }

.section_3{
          margin: 0;
          padding: 0;
          height: 400px;
           background-color:white;
           box-sizing: border-box;
           justify-content: center;
           position: absolute;
           top: 975px;

          }
          .columns_secc_3{
            width: 100%;
            margin: 0;
            padding: 0;


          }
          .columns{
            display: inline-block;
          }

          .left_secc_3{
            width: 30%;
            padding :0 100px;
            justify-content: center;
            color: black;
            margin: 10px;

          }
          .right_secc_3{
            width: 40%;
            float: right;
          }
          .title_3{
            font-family: 'Montserrat';
            font-size: 30px;
          }

          .l3{
            font-family: 'Montserrat';
            font-size: 20px;
